@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");

:root {
  font-size: 62.5% !important;
}

html,
body {
  font-size: 1.6rem !important;
  font-family: "Inter", "sans-serif" !important;
  scroll-behavior: smooth;
  margin: 0 !important;
}
menu, ol, ul {
  list-style: none;
  margin: 0 !important;
	padding: 0;
	border: 0;
}
a,
a:hover {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
.btn-primary {
  border-radius: 1rem;
  padding: 2rem 4rem !important;

}
.heading-content,
.body-content,
.heading,
.feature-sub-heading {
  margin: 0;
}
/* Layout */
.section {
  padding: 10rem 0 0 0;
}
.feature-section {
  padding-bottom: 10rem;
}
.d-flex {
  display: flex;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.hero-section-wrapper {
  align-items: center;
}
.hero-section-footer {
  padding: 7.6rem 0 8.5rem 0;
}

/* Typography */
h1 {
  font-size: 6rem;
  line-height: 73px;
}
.heading {
  font-size: 6rem;
  line-height: 7.3rem;
  font-weight: bold;
  margin-bottom: 3.5rem;
}
.heading-content {
  color: #858a8f;
  font-size: 2rem;
  line-height: 3.6rem;
  font-weight: 500 !important;
}
.mb {
  margin-bottom: 5rem;
}
.btn-primary {
  background-color: #377dff !important;
  color: white;
  font-size: 2rem !important;
  line-height: 2.4rem !important;
  padding: 2.1rem 4.2rem !important;
  font-weight: 600 !important;
}
.hero-section-left {
  align-items: center !important;
}
.hero-section-wrapper {
  display: flex;
  align-items: center !important;
}
.hero-section-wrapper button {
  margin-bottom: 2.3rem;
}
.heading-3 {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 600;
}
.hero-section-companies {
  justify-content: space-between;
}

.companies-sec {
  position: relative;
  align-items: center;
}
.companies-sec > p {
  align-self: center;
  margin-bottom: 3.1rem !important;
  color: #858a8f;
  font-weight: 500 !important;
}
.companies-sec span {
  content: "";
  position: absolute;
  bottom: 0;
  left: 49%;
  right: 0;
  bottom: 67%;
  border-top: 2px solid #f5f6fa;
  z-index: -1;
}
.hero-section {
  padding-bottom: 0;
  margin-top: 12.4rem;
}
.feature-section {
  background-color: #f5f6fa;
}
.feature {
  background-color: white;
  padding: 3.2rem 3.4rem;
  border-radius: 1.5rem;
}
.feature:hover {
  box-shadow: 0px 54px 50px rgba(67, 67, 68, 0.0705882);
  transform: scale(2px);
  transition: ease-in 500ms;
}
.feature img {
  margin-bottom: 2.9rem;
  height: 66px;
}
.heading-2 {
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: bold;
  margin-bottom: 2.1rem;
}
.body-content {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #858a8f;
  font-weight: 500;
}
.customers-section-wrapper > h2,
.customers-section-wrapper > p {
  text-align: center;
}
.customers-section-wrapper {
  padding-bottom: 10rem;
}
#carousel {
  margin-bottom: 11rem;
}
.active-900k {
  color: #2dca8c;
}
.active-2M {
  color: #ffbe3d;
}
.active-99 {
  color: #ff715b;
}
.active-users h1 {
  margin-bottom: 2rem;
}
.active-users h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}
.subscription-wrapper h1 {
  margin-bottom: 3.5rem;
}

.carousal-content > p {
  margin-bottom: 3rem !important;
}
.subscription-option {
  justify-content: center;
  margin-top: 5.4rem;
  align-items: center;
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin: 0 2.2rem;
}
.theme-switch {
  display: inline-block;
  height: 4.1rem;
  position: relative;
  width: 9rem;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: white;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #2dca8c;
  bottom: 4px;
  content: "";
  height: 3rem;
  left: 5px;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 3rem;
}

input:checked + .slider {
  background-color: #2dca8c;
}

input:checked + .slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 3rem;
  left: 5px;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 3rem;
  transform: translateX(46px);
}

.slider.round {
  border-radius: 34px;
  border: 2px solid #2dca8c;
  align-items: center;
}

.slider.round:before {
  border-radius: 50%;
}

.plan-wrapper > h4 {
  font-size: 3rem;
  line-height: 3.6rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
}
.plan-wrapper {
  background-color: white;
  border: 2px solid #f5f6fa;
  border-radius: 1.5rem;
  padding: 4.9rem 3.6rem 3.8rem 3.5rem;
}
.subcription-plans {
  margin-top: 7.4rem;
}
.subcription-plans .heading {
  margin-bottom: 1.5rem;
}
.plan-wrapper p {
  margin-bottom: 5.3rem;
}
.checkbox {
  margin-right: 1.7rem;
}
.plan-features {
  display: flex;
  flex-direction: column;
}
.plan {
  align-items: center;
  margin-bottom: 2rem;
}
.plan p {
  color: #858a8f;
  font-weight: 500;
  margin-bottom: 0;
}
.billing {
  color: #858a8f;
}
.music-content {
  flex-direction: column;
}
.trend-text-area-img {
  padding-right: 3.2rem;
}
.trend-section-body > p {
  margin-bottom: 3.3rem;
}
.music-content h3 {
  margin-bottom: 2.3rem;
}
.trend-music-text-area {
  margin-bottom: 3.4rem;
}
.music-content > p {
  line-height: 3.5rem;
}

.subscription-section {
  padding-bottom: 10rem;
}

#carousel {
  box-shadow: 0px 54px 50px rgba(67, 67, 68, 0.0705882);
  border-radius: 1.5rem;
  background-color: white;
}

.carousal-img {
  width: 50%;
  flex-shrink: 0;
  margin-right: 6rem;
  margin-left: -3rem;
}
.carousal-content {
  align-self: center;
  margin-left: -2rem;
}
.carousal-content > h3 {
  font-weight: 600;
  margin-bottom: 0.86rem;
  font-size: 2.4rem;
}

.carousal-content > p:last-child {
  max-width: 34.4rem;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  margin-bottom: 0 !important;
}

.carousal-img > img {
  height: 32rem;
}
.customers-section {
  background-color: #f5f6fa;
}
.btn {
  font-size: 1.69rem !important;
  line-height: 2.4rem !important;
  padding: 2.1rem 2.8rem !important;
  border-radius: 1rem !important;
}
.plan-wrapper:hover {
  box-shadow: 0px 54px 50px rgba(67, 67, 68, 0.0705882);
  cursor: pointer;
  transform: scale(2px);
  transition: ease-in 100ms;
}
.btn-primary:hover {
  transform: scale(2px);
  transition: ease-in 500ms !important;
}
.trend-music-section .row {
  align-items: center !important;
}

.listen-download-section {
  padding-bottom: 10rem;
}
.get-started > button {
  display: block;
  width: 100%;
}
.company-img > img {
  min-height: 42px;
}
.trend-text-area-img > img {
  min-height: 74px;
  max-width: 74px;
}
.plan-features > button,
.get-started {
  margin-top: 5.6rem;
}
.customers-section-active {
  justify-content: space-around;
  max-width: 106rem;
}
.customers-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.plan-wrapper {
  height: 100%;
}

.customers-section-wrapper > h2,
.customers-section-wrapper > p {
  max-width: 76.9rem;
  margin: 0 auto 3.5rem auto;
}

.subscription-wrapper > h1,
.subscription-wrapper > p {
  text-align: center;
  max-width: 81.1rem;
  margin: 0 auto 3.5rem auto;
}
.trend-section-body {
  padding-left: 4rem;
}
.hero-section-left {
  padding-right: 7.8rem;
}
.listen-section-body {
  padding-right: 4rem;
  padding-left: 0rem;
}

.hero-section-companies {
  justify-content: space-between;
}
.trend-section-body > h2 {
  max-width: 53rem;
}
#carousel {
  margin: 0 auto 11rem auto;
  max-width: 818px !important;
  padding: 2rem 6.5rem 2rem 2rem;
}
.active-users {
  width: calc(100% / 3);
}
.active-users + .active-users {
  margin-left: 10rem;
}
.carousel,
.owl-carousel {
  position: relative;
}
.owl-nav button {
  position: absolute;
  top: 40%;
}

.owl-nav button {
  background-color: white !important;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: white;
  border-color: #fff;
  cursor: pointer !important;
}

.owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  top: 39%;
}
.nav-btn img {
  height: 2.7rem;
  width: 2.7rem !important;
}
.owl-nav .owl-prev {
  left: -4rem;
}
.owl-nav .owl-next {
  right: -4rem;
}

.owl-carousel .prev-slide {
  left: -33px;
}

.owl-prev img + img,
.owl-next img + img {
  display: none;
}
.owl-carousel .owl-prev:hover img:first-child {
  display: none;
}
.owl-carousel .owl-prev:hover img + img,
.owl-carousel .owl-next:hover img + img {
  display: block;
  margin: 0 auto;
}
.owl-carousel .owl-next:hover img:first-child {
  display: none;
}

.owl-carousel .owl-prev:hover,
.owl-carousel .owl-next:hover {
  background-color: #377dff !important;
}

/* Footer */
.footer-wrapper h1 {
  margin: 0 auto;
  margin: 0 0 7.2rem 0;
  text-align: center;
}
.footer-wrapper {
  padding: 8.5rem 0 9rem 0;
}
footer {
  background-color: #f5f6fa;
}
.move-site-links {
  justify-content: center;
  margin-bottom: 8.1rem;
  font-size: 2.4rem;
  line-height: 2.9rem;

  font-weight: 600;
}
.site-link + .site-link {
  margin-left: 8.3rem;
}

.move-app-links {
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 7.8rem;
}
.footer-wrapper a,
.footer-wrapper a:hover {
  color: #858a8f;
  text-decoration: none;
}
.footer-wrapper a:hover {
  color: #377dff;
}
.move-app-links .btn {
  padding: 2.2rem 3.2rem !important;
  align-items: center;
  min-width: 21.2rem;
}

  
.move-app-links p {
  margin: 0;
  color: white !important;
}
.move-app-links img {
  padding-right: 1rem;
  min-height: 2.7rem;
  max-width: 3.2rem;
}
.move-app-links a + a {
    margin-left: 3.2rem;
}
.social-media-links {
  justify-content: space-between;
  margin: 0 auto 7.6rem auto;
  max-width: 307.99px;
  align-items: center;
}

.footer-wrapper > p {
    max-width: 887px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
}
.app-link-text {
  font-size: 2rem;
  line-height: 2.4rem;
}
/* Header */
.navbar .navbar-collapse.show {
  padding-bottom: 20px;
  height: calc(100vh - 65px);
  overflow-y: auto;
}
nav a {
  text-decoration: none !important;
  color:black;
}
nav a:hover {
  text-decoration: none !important;
}
.nav-heading {
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: bold;
} 
.nav-item {
  padding: 2.3rem;

  cursor: pointer;
}
.nav-item h5 {
  font-weight: 600;
  color: #858A8F;
}
.navbar .navbar-collapse .navbar-nav {
  margin-right: 3.4rem;
}
.get-started-nav {
  min-width: 17.9rem;
  font-weight:600 ;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  color:white;
  padding: 1.7rem 3.3rem !important;
}
.nav-item h5 {
  position: relative;
  padding-bottom: 8px;
  padding-right: 22px;
}
.nav-item h5:before {
  position: absolute;
  content: '';
  background-image: url(/assets/images/nav-dropdown-icon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  right: 0px;
  top: 10px;
  height: 6px;
  width: 12px;
  transition: all .5s;
}
.nav-menu {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 0;
}
.navbar .navbar-collapse .navbar-nav .nav-item {
  cursor: pointer;
  position: relative;
}
.nav-item.open h5::before,.nav-item:hover h5:before{
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
}
.nav-item.open .dropdown-menu {
  display: block;
}
.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  padding: 24px;
  min-width: 28px;
  position: absolute;
  top: 58px;
  left:0;
  border: none;
  box-shadow: 0 11px 35px rgb(0 0 0 / 5%);

}

.navbar .navbar-collapse .navbar-nav .nav-item ul li a{ 
    color: #858A8F;;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
    display: block;
}
.navbar .navbar-collapse .navbar-nav .nav-item ul li+li {
  margin-top: 16px;
}
 .navbar .navbar-collapse .navbar-nav .nav-item h5:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1.75px;
  background-color: transparent;
  transition: all .5s;
}
.navbar .navbar-collapse .navbar-nav .nav-item:hover h5:after {
  background-color: #000;
}
.nav-item:hover .dropdown-menu {
  display: block;
}
.navbar {
  background-color: white;
  box-shadow: 0 0 18px rgb(0 0 0 / 10%);
} 

/* media queries */
@media (min-width: 1360px) {
}
@media (max-width: 1199px) {
  .customers-section-wrapper > h2,
  .customers-section-wrapper > p {
    max-width: 76.9rem;
    margin: 0 auto 3.5rem auto;
  }

  .subscription-wrapper > h1,
  .subscription-wrapper > p {
    text-align: center;
    max-width: 81.1rem;
    margin: 0 auto 3.5rem auto;
  }
}
@media (min-width: 991px) {
}
@media (max-width: 1200px) {
  .companies-sec span {
    content: "";
    position: absolute;
    bottom: 0;
    left: 57%;
    right: 0;
    bottom: 67%;
    border-top: 2px solid #f5f6fa;
    z-index: -1;
  }
}
@media (max-width: 991px) {
  .hero-section-companies {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .company-img {
    width: calc(100% / 2);
    padding: 2rem 1rem;
  }
  .companies-sec span {
    display: none !important;
  }
  .hero-section-wrapper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .hero-img > img {
    height: 100% !important;
  }

  .hero-img,
  .trend-music-img {
    display: flex;
    height: 550px !important;
    margin: 0 auto 2rem auto;
  }

  /* Header */
  
  .hamberger-inner {
    transition-duration: 75ms;
    justify-content: center;
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  }
  .hamberger-box {
    width: 25px;
    height: 19px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .hamberger-inner,.hamberger-inner::before, .hamberger-inner::after{
    width: 25px;
    height: 2px;
    background-color: #377dff;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
    content: "";
    display: block;
  }
  .hamberger-inner::before {
    top: -8px;
    transition: top 75ms .12s ease,opacity 75ms ease;
  }
  .hamberger-inner::after {
    bottom: -8px;
  }
  .navbar {
    z-index: 99999 !important;
}
  .navbar.bg-white {
    padding: 10px 0;
}
.navbar {
  background: #fff;
  transition: color .36s,padding .36s;
  -webkit-transition: color .36s,padding .36s;
  -moz-transition: color .36s,padding .36s;
  -ms-transition: color .36s,padding .36s;
  -o-transition: color .36s,padding .36s;
  box-shadow: 0 0 18px rgb(0 0 0 / 10%);
}
.navbar.bg-white {
  padding: 10px 0;
}
.navbar .navbar-collapse .navbar-nav {
  margin-right: 0;
}
.hamberger.hamberger-open.is-active .hamberger-inner {
    transform: rotate(45deg);
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
.hamberger.hamberger-open.is-active .hamberger-inner::before {
   top: 0;
  opacity: 0;
  transition: top 75ms .12s ease,opacity 75ms ease;
}
.navbar .navbar-collapse .navbar-nav .nav-item h5:after {
  opacity: 0;
}
.nav-item h5 {
  padding-bottom: 0;
}
.hamberger.hamberger-open.is-active .hamberger-inner::after{ 
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 75ms ease,transform 75ms .12s cubic-bezier(.215,.61,.355,1);
}
.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu  {
  position: static;
  box-shadow: none;
  min-width: 288px;
  padding: 20px 0;
}
.navbar .navbar-collapse .navbar-nav .nav-item {
  padding: 16px 0;
  width: 100%;
}
.nav-item h5:before {
  right:0px;
}

.navbar .navbar-collapse .navbar-nav .nav-item+.nav-item {
  border-top: 1px solid #e6e6e6;
}
.navbar .navbar-collapse .navbar-nav {
  -ms-flex-align: start;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  margin-right: 0;
  margin-bottom: 30px;
}
.nav-item:not(.open):hover .dropdown-menu {
    display: none;
}
  .get-started-nav {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 10px 15px;
  }
}

@media (max-width: 768px) {
  .hero-section-wrapper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .hero-img {
    order: 1;
    height: 550px !important;
    margin: 0 auto 2rem auto !important;
  }

  .hero-section-companies {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .company-img {
    width: calc(100% / 2);
    padding: 2rem 1rem;
  }
  .subscription-wrapper > h1,
  .subscription-wrapper > p {
    text-align: center;
    max-width: 81.1rem;
    margin: 0 auto 3.5rem auto;
  }
  .feature-section-wrapper .row {
    flex-direction: column;
    justify-content: center;
  }
  .feature {
    width: 100%;
  }
  .subcription-plans .row {
    flex-direction: column;
  }
  .listen-download-section .row {
    flex-direction: column;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .trend-section-body > p {
    margin-bottom: 5.3rem;
  }
  .plan-wrapper {
    margin-bottom: 3.4rem;
  }
  .item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .carousal-img {
    margin-right: 0;
    margin-top: -2rem;
    max-width: 20rem;
    align-items: flex-start;
  }
  .carousal-content {
    text-align: center;
    margin-top: -2rem;
  }
  .carousal-content > p {
    margin-bottom: 2rem !important;
  }
  .carousal-content > p:last-child {
    font-size: 1.7rem !important;
    max-width: 100%;
    line-height: 3.5rem !important;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 5rem;
  }
  .heading-content {
    margin-bottom: 3rem;
  }
  .plan-wrapper > p {
    margin-bottom: 3rem;
  }

  .owl-nav button > img {
    max-width: 2rem;
  }
  .btn {
    padding: 1.9rem 3.9rem;
  }

  .hero-section-companies {
    justify-content: center;
  }
  .feature img {
    height: 70px;
  }
  .heading-2 {
    font-size: 2.3rem;
    line-height:3.4rem;
    font-weight: bold;
    margin-bottom: 2.1rem;
  }
  .customers-section-active {
    flex-direction: column;
    margin-top: 9rem;
  }
  #carousel {
    padding: 0 0 5rem 0;
    margin-bottom: 6rem;
  }
  .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 11rem;
  }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    position: relative;
    margin: 0rem 1rem !important;
  }
  .owl-nav .owl-prev {
    left: unset;
  }
  .owl-nav .owl-next {
    right: unset;
  }
  .active-users {
    margin-bottom: 5rem;
  }
  .customers-section-wrapper {
    padding-bottom: 5rem !important;
  }
  .feature-body-mb {
    margin-bottom: 3rem;
  }
  .feature-body-mb:last-child {
    margin-bottom: 0rem;
  }
  .trend-section-body > h2 {
    max-width: 100%;
  }
  .active-users {
    width: 100%;
  }
  .active-users + .active-users {
    margin-left: 0;
  }
  .trend-section-body {
    padding-left: 0;
    padding-right: 0rem;
  }
  .hero-section-left {
    padding-right: 0;
  }

  .hero-section-footer {
    padding: 4rem 0 7.5rem 0;
  }

 /* Footer */
 .site-link + .site-link {
    margin-left: 0;
  }
  .footer-wrapper h1 {
    margin: 0 auto 3.5rem auto;
  }
  .site-link {
    margin-bottom: 2rem;
    width: calc(100%/2);
  }
  .move-site-links {
    margin-bottom: 3.5rem;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .move-app-links {
    margin-bottom: 5.5rem;
  }
  .move-app-links .btn {
    padding: 1.3rem 4rem 1.8rem 4rem !important;
  }
  .social-media-links {
    margin: 0rem 0rem 4.5rem 0rem;
    justify-content: flex-start;
  }
  .app-link-text {
    font-size: 1.69rem;
  }
  .footer-wrapper p {
      max-width: 100%;
      text-align: left;
  }
  .move-app-links {
    justify-content: flex-start;
  }
  .footer-wrapper h1 {
    text-align: left;   
  }
  .social-links {
    width: 50%;
}
.nav-heading {
  font-size: 3rem;
}
.navbar .navbar-collapse .navbar-nav .nav-item ul li a {
   color: #858A8F;;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  display: block;
}
}

@media (max-width: 570px) {
  .hero-section-footer {
    padding: 3rem 0 4.5rem 0;
  }
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .owl-nav button > img {
    max-width: 2rem;
  }
  .heading {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 3.5rem;
  }
  .heading-content {
    color: #858a8f;
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .body-content {
    font-size: 1.6rem;
    line-height: 3rem;
    color: #858a8f;
  }
  .plan-wrapper {
    background-color: white;
    border: 2px solid #f5f6fa;
    border-radius: 1.5rem;
    padding: 2.9rem 2.6rem 2.8rem 2.5rem;
  }
  .subcription-plans {
    margin-top: 5.4rem;
  }

  .carousal-content > h3 {
    font-weight: 600;
    margin-bottom: 0.86rem;
    font-size: 2rem;
  }
  .subscription-option {
    margin-top: 5.4rem;
    align-items: center;
  }
  .section {
    padding: 5rem 0 0 0;
  }
  .subscription-section {
      padding-bottom: 5rem;
  }
  .feature-section {
    padding-bottom: 5rem !important;
  }
  .hero-section-footer p {
    margin-bottom: 3.1rem;
    position: relative;
    font-size: 1.9rem;
    line-height: 3rem;
  }

  .hero-img > img {
    height: 100% !important;
  }

  .hero-img,
  .trend-music-img {
    display: flex;
    margin-bottom: 2rem;
    height: 250px !important;
    margin: 0 auto 2rem auto;
  }
  .btn {
    padding: 1rem 2.15rem !important;
    font-size: 1.4rem !important;
  }
  .feature img {
    height: 55px;
    margin-bottom: 2rem;
  }
  .trend-music-text-area {
    flex-direction: column;
  }
  .trend-text-area-img {
    margin-bottom: 2rem;
  }
  .trend-text-area-img > img {
    min-height: 50px;
    max-width: 55px;
  }
  .active-users h1 {
    margin-bottom: 1rem;
  }

  .plan-wrapper > h1 {
    font-size: 4rem;
  }
  .plan-wrapper > h4 {
    font-size: 2.5rem;
  }
  .theme-switch {
    display: inline-block;
    height: 3.5rem;
    position: relative;
    width: 7rem;
  }
  .slider.round {
    border-radius: 34px;
    border: 2px solid #2dca8c;
    align-items: center;
  }
  .slider:before {
    background-color: #2dca8c;
    bottom: 3.5px;
    content: "";
    height: 2.4rem;
    left: 3px;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 2.4rem;
    transition: all 0.4s ease 0s;
  }

  input:checked + .slider {
    background-color: #2dca8c;
  }

  input:checked + .slider:before {
    background-color: white;
    bottom: 3.5px;
    content: "";
    height: 2.4rem;
    left: -5px;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 2.4rem;
    transform: translateX(43px);
  }

  .checkbox > img {
    height: 30px;
  }
  .plan-features > button,
  .get-started {
    margin-top: 2.3rem;
  }
  .feature {
    background-color: white;
    padding: 2.7rem 2.9rem;
    border-radius: 1.5rem;
  }
  .music-content h3 {
    margin-bottom: 1rem;
  }
  .trend-music-text-area {
    margin-bottom: 5rem;
  }
  .customers-section-active {
    max-width: 100%;
  }
  .heading-3 {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 600;
  }
  .hero-section-left p:last-child {
    font-size: 1.5rem;
  }
  .owl-nav button {
    height: 5rem;
    width: 5rem;
  }
  .carousal-content > p:last-child {
    font-size: 1.7rem !important;
    max-width: 100%;
    line-height: 3.5rem !important;
    padding-left: 3.5rem;
    padding-right: 1rem;
  }
  .carousal-img {
    margin-right: 0;
    margin: -3.7rem 0 0 0;
  }
  .carousal-content {
    text-align: center;
  }
  .companies-sec > p {
    margin-bottom: 2rem !important;
  }
 
  .footer-wrapper h1 {
    margin: 0 auto 2rem auto;
  }
  .site-link{
    margin-bottom: 2rem;
  }
  .move-site-links {
    margin-bottom: 5rem;
  }
  .move-app-links {
    margin-bottom: 5rem;
  }
  .move-app-links .btn {
    padding: 1rem 0!important;
    align-items: center;
  }

  .social-media-links {
    max-width: 229.99px;
    font-weight: 600;
  }
  .move-app-links .btn {
    padding: 1rem 2.15rem !important;
    white-space: nowrap;
  }
  .app-link img {
    height: 2rem;
    width: 2.8rem;
  }
  .move-app-links {
    flex-direction: column;
  }
  .move-app-links .btn {
    width: 100%;
    max-width: 212px;
    margin: 0rem 0rem 2rem 0rem;
    justify-content: center;
  }
  .app-link-text {
    font-size: 1.4rem;
  }
  .move-app-links button {
    margin-bottom: 2rem;
  }
  .move-app-links button:last-child {
    margin-bottom: 0rem;
  }
  .footer-wrapper p {
    margin: 0;
  }

  .move-site-links a:last-child {
    margin-bottom: 0;
  }
  .footer-wrapper {
    padding: 4.5rem 0 4.5rem 0;
  }
  .social-media-links img {
    height: 2.5rem;
    width: 2.5rem;
}


}
@media (max-width: 425px) {
  .company-img > img {
    max-width: 80% !important;
  }
  .company-img {
    padding: 1.5rem 1rem;
  }
}
